:root [data-theme='dark'] {
  --hl_pallet_black: '#0e1013';
  --hl_pallet_bg0: '#1f2329';
  --hl_pallet_bg1: '#282c34';
  --hl_pallet_bg2: '#30363f';
  --hl_pallet_bg3: '#323641';
  --hl_pallet_bg_d: '#181b20';
  --hl_pallet_bg_blue: '#61afef';
  --hl_pallet_bg_yellow: '#e8c88c';
  --hl_pallet_fg: '#a0a8b7';
  --hl_pallet_purple: '#bf68d9';
  --hl_pallet_green: '#8ebd6b';
  --hl_pallet_orange: '#cc9057';
  --hl_pallet_blue: '#4fa6ed';
  --hl_pallet_yellow: '#e2b86b';
  --hl_pallet_cyan: '#48b0bd';
  --hl_pallet_red: '#e55561';
  --hl_pallet_grey: '#535965';
  --hl_pallet_light_grey: '#7a818e';
  --hl_pallet_dark_cyan: '#266269';
  --hl_pallet_dark_red: '#8b3434';
  --hl_pallet_dark_yellow: '#835d1a';
  --hl_pallet_dark_purple: '#7e3992';
  --hl_pallet_diff_add: '#272e23';
  --hl_pallet_diff_delete: '#2d2223';
  --hl_pallet_diff_change: '#172a3a';
  --hl_pallet_diff_text: '#274964';
}

:root [data-theme='light'] {
  --hl_pallet_black: '#101012';
  --hl_pallet_bg0: '#fafafa';
  --hl_pallet_bg1: '#f0f0f0';
  --hl_pallet_bg2: '#e6e6e6';
  --hl_pallet_bg3: '#dcdcdc';
  --hl_pallet_bg_d: '#c9c9c9';
  --hl_pallet_bg_blue: '#68aee8';
  --hl_pallet_bg_yellow: '#e2c792';
  --hl_pallet_fg: '#383a42';
  --hl_pallet_purple: '#a626a4';
  --hl_pallet_green: '#50a14f';
  --hl_pallet_orange: '#c18401';
  --hl_pallet_blue: '#4078f2';
  --hl_pallet_yellow: '#986801';
  --hl_pallet_cyan: '#0184bc';
  --hl_pallet_red: '#e45649';
  --hl_pallet_grey: '#a0a1a7';
  --hl_pallet_light_grey: '#818387';
  --hl_pallet_dark_cyan: '#2b5d63';
  --hl_pallet_dark_red: '#833b3b';
  --hl_pallet_dark_yellow: '#7c5c20';
  --hl_pallet_dark_purple: '#79428a';
  --hl_pallet_diff_add: '#e2fbe4';
  --hl_pallet_diff_delete: '#fce2e5';
  --hl_pallet_diff_change: '#e2ecfb';
  --hl_pallet_diff_text: '#cad3e0';
}
